#rename to default.json
{
  "deribit": {
    "access_key": "",
    "secret": ""
  },
  "telegram": {
    "bot_token": "",
    "allowed_chat_ids": [
      999999999 // my personal chat id
    ],
    "my_chat_id": 999999999
  }
}
